<div class="container row">
    <div id="left" class="col s6">
        <h3 class="subs">EAT AWAY!!</h1>
        <ul>
            {{#each good}}
            <li>
                <p>
                    {{this.bg_name}}
                    <button data-bgid="{{this.id}}" data-bgname="{{this.bg_name}}" class="eatbg">EAT BURGER!</button>
                </p>
            </li>
            {{/each}}
        </ul>
    </div>
    <div id="right" class="col s6">
        <h3 class="subs">YOU EAT ALL OF THIS! 0_o</h2>
        <ul>
            {{#each eaten}}
            <li>
                <p>
                    {{this.bg_name}}
                </p>
            </li>
            {{/each}}
        </ul>
    </div>
</div>
<div class="row">
<h3 id="yell" class="col s4">MAKE A BURGER!</h2>
<img src="/assets/img/bgIcon.png">
</div>
<form id="makebg" class="button-size">
    <textarea type="text" name="burger" placeholder="NOOM NOOOM"></textarea>
    <button id="submitBtn" type="submit">Ready!</button>
</form>

<script type="text/javascript">

$(".eatbg").on("click", function(event) {
    event.preventDefault();
    let id = $(this).data("bgid");

    $.ajax("/api/burgers/" + id, {
        type: "PUT",
        data: id
    }).then(function() {
        console.log("Ate burger id " + id);
        location.reload();
    });
});

$("#makebg").on("submit", function(event) {
    event.preventDefault();

    const newBurger = {
        burger: $("#makebg [name=burger]").val().trim()
    };

    $.ajax("/api/burgers", {
        type: "POST",
        data: newBurger
    }).then(function() {
        console.log("Made a new burger!");
        location.reload();
    });
});

</script>
